.dragon_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 5px 0;
  padding: 2%;
  padding-left: 10%;
}

.dragon_id {
  display: flex;
  gap: 13px;
}

.dragon_img {
  width: 250px;
  height: 200px;
}

.d_name_type {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}

.dragon_button {
  padding: 5px;
  border: none;
  background-color: #007bff;
  border-radius: 3px;
  color: white;
}

.dragon_cancel {
  padding: 5px;
  border: 1px solid #4d5053;
  background-color: white;
  border-radius: 3px;
  color: #9DA2A8;
}

.dragon_reserved {
  padding: 3px;
  border: none;
  background-color: #007bff;
  border-radius: 3px;
  color: white;
  margin-right: 3px;
}

.dragon_name {
  color: #4d5053;
  font-size: 1.2rem;
}

.dragon_type {
  color: #4d5053;
}
